ion-grid{
    padding: 0;
}
  
ion-row{
    padding: 0;
}
  
ion-col{
    padding: 0;
}

/* Mylola
 * --------------------------------------------------------
 */
 .mylola{
    height: 20px;
    margin: auto;
    margin-right: 60px;
  }

/* Previous Button
 * --------------------------------------------------------
 */
.previous{
    max-width: 50px;
}

/* Title
 * --------------------------------------------------------
 */
.title ion-button{
    padding-top: 10px;
    margin: 0 auto; 
}

/* Forward Button
 * --------------------------------------------------------
 */
.forward{
    max-width: 50px; 
    right: 10px;
}
