/* Title 
 * --------------------------------------------------------
 */
.title {
    text-align: center;
}

/* Button 
 * --------------------------------------------------------
 */
.button {
    text-align: center;
}

/* Numericcode 
 * --------------------------------------------------------
 */
.value {
    width: 220px;
    background: lightgray;
    border-radius: 15px;
    margin-top: 40px;
}