<!-- Content -->
<ion-content>
  <ion-grid class="content">

    <!-- Title -->
    <ion-row>
      <ion-col class="title">
        <h2>{{catcher}}</h2>
      </ion-col>
    </ion-row>

    <!-- Slides -->
    <ion-row>
      <ion-col col-12>
        <ion-slides #slides pager="false" [options]="slideOptions" *ngIf="value">

          <!-- QR-Code -->
          <ion-slide>
            <ngx-qrcode [elementType]="elementType" [value]="value" cssClass="aclass" errorCorrectionLevel="L">
            </ngx-qrcode>
          </ion-slide>

          <!-- Barcode -->
          <ion-slide>
            <ngx-barcode6 [bc-format]="'CODE128'" [bc-value]="value" [bc-display-value]="false" [bc-width]="0.75">
            </ngx-barcode6>
          </ion-slide>

          <!-- Numericcode -->
          <ion-slide>
            <div class="value">
              <p><b>{{value}}</b></p>
            </div>
          </ion-slide>

        </ion-slides>

        <!-- Arrows -->
        <div class="swiper-button-next swiper-button-black"></div>
        <div class="swiper-button-prev swiper-button-black"></div>

      </ion-col>
    </ion-row>

    <!-- Button -->
    <ion-row>
      <ion-col col-12 class="button">
        <ion-button (click)="dismiss()">Einlösen</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>