/* Mylola
* --------------------------------------------------------
*/
.mylola{
  height: 20px;
  margin: auto;
  margin-right: 60px;
}

/* Content
 * --------------------------------------------------------
 */
 .content {
  max-width: 650px;
  margin: auto;
  text-align: center;
}

/* Profile And Backgound Pictures
 * --------------------------------------------------------
 */
.profile-background ion-avatar {
  display: flex;
  margin: auto;
  margin-top: calc(-35px + var(--ion-safe-area-top));
}

.profile-background ion-avatar ion-img {
  border: 2px solid #DB001B;
}
