/* Content 
 * --------------------------------------------------------
 */
.content {
    margin: auto;
    max-width: 280px;
}

/* Button 
 * --------------------------------------------------------
 */
.button {
    margin:0 auto;
    display:block;
}

/* Text 
 * --------------------------------------------------------
 */
p {
    text-align: center;
    font-size: 20px;
}