<!-- Header -->
<ion-header>
  <ion-toolbar>

    <!-- Back Button -->
    <ion-buttons slot="start">
      <ion-back-button *ngIf="ios" [defaultHref]="defaultHref" text="Zurück"></ion-back-button>
      <ion-back-button *ngIf="!ios" [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>

    <!-- Title -->
    <ion-title class="title">{{session?.name}}</ion-title>

  </ion-toolbar>
</ion-header>

<!-- Content -->
<ion-content fullscreen="true">
  <ion-grid class="content">

    <ion-row>
      <ion-col col-12 class="profile-background" *ngIf="session">

        <!-- Banner -->
        <div>
          <ion-img src=".\assets\img\banner\{{session.banner}}"></ion-img>
        </div>

        <!-- Logo -->
        <ion-avatar>
          <ion-img src=".\assets\img\logo\{{session.logo}}"></ion-img>
        </ion-avatar>

      </ion-col>
    </ion-row>

    <!-- Settings -->
    <ion-row>
      <ion-col class="settings-button">
        <ion-button (click)="openSettings()" *ngIf="show">
          <ion-icon name="settings-sharp"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <!-- Icons -->
      <ion-col col-6 *ngIf="session" class="icons">

        <ion-button (click)="toggleFavorite(session)">
          <ion-icon *ngIf="session.fav" name="bookmark-outline"></ion-icon>
          <ion-icon *ngIf="!session.fav" name="bookmark"></ion-icon>
        </ion-button>

        <ion-button (click)="shareSession(session)">
          <ion-icon slot="icon-only" name="share-social"></ion-icon>
        </ion-button>

      </ion-col>

      <!-- Time -->
      <ion-col col-6 *ngIf="session">
        <p class="time">{{ session.upload | timePipe}}</p>
      </ion-col>

    </ion-row>

    <!-- Text -->
    <ion-row>
      <ion-col col-12>
        <div *ngIf="session" class="text">
          <h5>{{session.title}}</h5>
          <p>{{session.text}}</p>
        </div>
      </ion-col>
    </ion-row>

    <!-- Button --> 
    <ion-row>
      <ion-col col-12 *ngIf="session" class="buttons" (click)="isLoggedIn(session)">
        <ion-button><b>{{session.button}}</b></ion-button>
      </ion-col>
    </ion-row>
    
    <!--
    <ion-row>
      <ion-col col-12 *ngIf="session" class="buttons">
        <ion-button color="dark" disabled="true"><b>{{session.button}}</b></ion-button>
      </ion-col>
    </ion-row>
    -->

    <!-- Pictures -->
    <ion-row>
      <ion-col col-12 *ngIf="session">
        <ion-img src=".\assets\img\add\{{session.add}}"></ion-img>
      </ion-col>
    </ion-row>

    <!-- Location -->
    <ion-row>
      <ion-col col-12 *ngIf="session" class="location">
        <h4>Angebotsort</h4>
        <p><b>{{session.name}}</b></p>
        <p>{{session.street}}</p>
        <p>{{session.place}}</p>
        <ion-button (click)="notification(session)">{{session.name}} abonnieren</ion-button>
      </ion-col>
    </ion-row>

    <ion-item-divider></ion-item-divider>

    <ion-row>
      <ion-col col-12 *ngIf="session" class="location">
        <h4>Kontakt</h4>
        <p class="red">{{session.website}}</p>
        <p>{{session.mail}}</p>
        <p class="red">{{session.phone}}</p>
        <ion-button (click)="openContact(session)">Kontaktiere {{session.name}}</ion-button>    
      </ion-col>
    </ion-row>

    <ion-item-divider></ion-item-divider>

    <!-- Social Media -->
    <ion-row>
      <ion-col col-12 class="social-media location" *ngIf="session">
        <h4>Social Media</h4>
        <ion-chip color="facebook" button (click)="facebook(session)" *ngIf="session.facebook">
          <ion-icon name="logo-facebook"></ion-icon>
          <ion-label>Facebook</ion-label>
        </ion-chip>
        <ion-chip color="instagram" button (click)="instagram(session)" *ngIf="session.instagram">
          <ion-icon name="logo-instagram"></ion-icon>
          <ion-label>Instagram</ion-label>
        </ion-chip>

      </ion-col>
    </ion-row>

  </ion-grid>

  <!-- Map -->
  <div #map class="map"></div>

  <!-- Opening Hours-->
  <ion-grid class="content">
    <ion-row>
      <ion-col col-12 *ngIf="session" class="opening">
        <h4>Öffnungszeiten</h4>
        <p>{{session.opening[0]}}</p>
        <p>{{session.opening[1]}}</p>
        <p>{{session.opening[2]}}</p>
        <p>{{session.opening[3]}}</p>
        <p>{{session.opening[4]}}</p>
        <p>{{session.opening[5]}}</p>
        <p>{{session.opening[6]}}</p>
        <br>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>