<!-- Header -->
<ion-header>
  <ion-toolbar>

    <!-- Back Button -->
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>

    <!-- Title -->
    <ion-title class="title">{{session?.name}}</ion-title>

  </ion-toolbar>
</ion-header>

<!-- Content -->
<ion-content fullscreen="true">
  <ion-grid class="content">

    <!-- Banner and Logo -->
    <ion-row>
      <ion-col col-12 class="profile-background" *ngIf="session">
        <div>
          <ion-img src="..\assets\img\banner\{{session.banner}}"></ion-img>
        </div>
        <ion-avatar>
          <ion-img src="..\assets\img\logo\{{session.logo}}"></ion-img>
        </ion-avatar>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="settings-button">
        <ion-button (click)="openSettings()">
          <ion-icon name="settings-sharp"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <!-- Icons -->
      <ion-col col-6 *ngIf="session" class="icons">

        <ion-button (click)="toggleFavorite(session)">
          <ion-icon *ngIf="session.fav" name="bookmark-outline"></ion-icon>
          <ion-icon *ngIf="!session.fav" name="bookmark"></ion-icon>
        </ion-button>

        <ion-button (click)="shareSession(session)">
          <ion-icon slot="icon-only" name="share-social"></ion-icon>
        </ion-button>

      </ion-col>

      <ion-col col-6 *ngIf="session">
        <p class="time">{{ session.upload | timePipeDetail}}</p>
      </ion-col>

    </ion-row>

    <!-- Text -->
    <ion-row>
      <ion-col col-12>
        <div *ngIf="session" class="text">
          <h5>{{session.title}}</h5>
          <p>{{session.text}}</p>
        </div>
      </ion-col>
    </ion-row>

    <!-- Button -->
    <ion-row>
      <ion-col col-12 *ngIf="session" class="buttons" (click)="isLoggedIn(session)">
        <ion-button style="font-family: Segoe_UI_Bold; font-size: 16px;">{{session.button}}</ion-button>
      </ion-col>
    </ion-row>

    <!-- Pictures -->
    <ion-row>
      <ion-col col-12 *ngIf="session">
        <ion-img src="..\assets\img\add\{{session.add}}"></ion-img>
      </ion-col>
    </ion-row>

    <!-- Location -->
    <ion-row>
      <ion-col col-12 *ngIf="session" class="location">
        <h4>Angebotsort</h4>
        <p style="font-weight: bold;">{{session.name}}</p>
        <p>{{session.street}}</p>
        <p>{{session.place}}</p>
        <ion-button (click)="notification()">{{session.name}} abonnieren</ion-button>
      </ion-col>
    </ion-row>

    <ion-item-divider></ion-item-divider>

    <ion-row>
      <ion-col col-12 *ngIf="session" class="location">
        <h4>Kontakt</h4>
        <p style="color: #DB001B;">{{session.website}}</p>
        <p>{{session.mail}}</p>
        <p style="color: #DB001B;">{{session.phone}}</p>
        <ion-button (click)="openContact(session)">Kontaktiere {{session.name}}</ion-button>    
      </ion-col>
    </ion-row>

    <ion-item-divider></ion-item-divider>

    <!-- Social Media -->
    <ion-row>
      <ion-col col-12 class="social-media location">
        <h4>Social Media</h4>
        <ion-chip color="facebook" button (click)="facebook(session)">
          <ion-icon name="logo-facebook"></ion-icon>
          <ion-label>Facebook</ion-label>
        </ion-chip>

      </ion-col>
    </ion-row>

  </ion-grid>

  <!-- Map -->
  <div #mapCanvas class="map-canvas"></div>

  <!-- Opening Hours-->
  <ion-grid class="content">
    <ion-row>
      <ion-col col-12 *ngIf="session" class="opening">
        <h4>Öffnungszeiten</h4>
        <p>{{session.opening[0]}}</p>
        <p>{{session.opening[1]}}</p>
        <p>{{session.opening[2]}}</p>
        <p>{{session.opening[3]}}</p>
        <p>{{session.opening[4]}}</p>
        <p>{{session.opening[5]}}</p>
        <p>{{session.opening[6]}}</p>
        <br>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>