/* Content
 * --------------------------------------------------------
 */
.content {
  padding-top: 50px;
  max-width: 650px;
  margin: auto;
  text-align: center;
}

/* Profile Image
 * --------------------------------------------------------
 */
.profile-image ion-avatar {
  display: flex;
  margin: auto;
}

/* ion-label
 * --------------------------------------------------------
 */
.label1 {
  width: 130px;
}

.label2 {
  width: 100px;
}

/* ion-input
 * --------------------------------------------------------
 */
ion-input {
  border-radius: 5px !important;
  border: 1px solid var(--ion-color-medium-shade) !important;
  max-width: 50vw;
  max-height: 10vh;
  --placeholder-opacity: 1;
  border-bottom-color: transparent;
}

/* ion-datetime
 * --------------------------------------------------------
 */
ion-datetime {
  border-radius: 5px !important;
  margin-left: 20px;
  border: 1px solid #707070 !important;
  width: 75px;
}

/* p
 * --------------------------------------------------------
 */
p {
  width: 110px;
}

/* Save Button
 * --------------------------------------------------------
 */
.save {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Social Media Icons
 * --------------------------------------------------------
 */
.media{
  padding-right: 5px; 
}
