<!-- Header -->
<ion-header translucent="true">
  <ion-toolbar>
    
    <!-- Sidemenu -->
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon style="width: 50px; height: 50px;" name="menu"></ion-icon>
      </ion-menu-button> 
    </ion-buttons>

    <!-- Mylola -->
    <ion-img class="mylola" src="..\assets\img\mylola\mylola_logo.png" ></ion-img>  
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="content">

    <p>Bild (freiwillig)</p>
    <br>
    <ion-button>
      <ion-icon name="settings-outline"></ion-icon>
    </ion-button>
    <br>
    <p>Benutzername</p>
    <p>E-Mail</p>
    <p>Passwort</p>
    <br>
    <p>Vorname (freiwillig)</p>
    <p>Nachname (freiwillig)</p>
    <br>
    <p>Telefonnummer (freiwillig)</p>
    <p>Straße (freiwillig)</p>
    <p>Hausnummer (freiwillig)</p>
    <p>PLZ (freiwillig)</p>
    <p>Ort (freiwillig)</p>

  </ion-grid>
</ion-content>
