/* Mylola
* --------------------------------------------------------
*/
.mylola{
    height: 20px;
    margin: auto;
    margin-right: 60px;
  }
  
/* Content
* --------------------------------------------------------
*/
  .content {
    max-width: 650px;
    margin: auto;
    text-align: center;
  }

/* ion-list
* --------------------------------------------------------
*/
  ion-list {
    overflow: hidden;
    overflow-y: auto;
    ::-webkit-scrollbar {
      display: none;
    }
  }