ion-grid{
    padding: 0;
}
  
ion-row{
    padding: 0;
}
  
ion-col{
    padding: 0;
}

/* Mylola
 * --------------------------------------------------------
 */
 .mylola{
    height: 20px;
    margin: auto;
    margin-right: 60px;
  }

  .content {
    max-width: 650px;
    margin: auto;
  }