<!-- Header -->
<app-header-menu></app-header-menu>

<!-- Content -->
<ion-content fullscreen="true">
  <ion-grid class="content">

    <!-- Banner And Logo -->
    <ion-row>
      <ion-col col-12 class="profile-background">
        <!-- Banner -->
        <div>
          <ion-img src="http://srv06-dev.mindq.kunden.openroot.de:8088/uploads/banners/{{bannerfilename}}"></ion-img>
        </div>
        <!-- Logo -->
        <ion-avatar>
          <ion-img src="http://srv06-dev.mindq.kunden.openroot.de:8088/uploads/logos/{{logofilename}}"></ion-img>
        </ion-avatar>
      </ion-col>
    </ion-row>

    <!-- Name -->
    <ion-row>
      <ion-col class="ion-padding-top ion-text-center">
        <h1><b>{{profile?.name}}</b></h1>
      </ion-col>
    </ion-row>

    <!-- Button Profile Edit -->
    <ion-row>
      <ion-col>
        <ion-button fill="outline" shape="round" (click)="openSettings()">
          Profil bearbeiten
        </ion-button>
      </ion-col>
    </ion-row>

     <!-- Coupons -->
     <ion-item-divider>
      <ion-label>
        Eigene Coupons
      </ion-label>
    </ion-item-divider>

    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let item of coupons">
            <ion-label routerLink="/app/tabs/home/detail/{{item.id}}">{{item.title}}</ion-label>
            <ion-button slot="end" (click)="presentModal(item.id)">
              <ion-icon name="close"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <!-- Location -->
    <ion-item-divider>
      <ion-label>
        Addresse
      </ion-label>
    </ion-item-divider>

    <ion-row>
      <ion-col col-12 class="location">
        <p>{{profile?.street}} {{profile?.housenumber}}</p>
        <p>{{profile?.postcode}} {{profile?.place}}</p>
      </ion-col>
    </ion-row>

    <!-- Contact -->
    <ion-item-divider>
      <ion-label>
        Kontakt
      </ion-label>
    </ion-item-divider>

    <ion-row>
      <ion-col class="contact">
        <p>{{url?.homepage}}</p>
        <p>{{profile?.email}}</p>
        <p>{{profile?.telephone}}</p>
      </ion-col>
    </ion-row>

    <!-- Social Media -->
    <ion-item-divider>
      <ion-label>
        Social Media
      </ion-label>
    </ion-item-divider>

    <ion-row>
      <ion-col>
        <p>
          <ion-icon name="logo-facebook" class="media" color="facebook"></ion-icon>{{url?.facebook}}
        </p>
        <p>
          <ion-icon name="logo-instagram" class="media" color="instagram"></ion-icon>{{url?.instagram}}
        </p>
        <p>
          <ion-icon name="logo-twitter" class="media" color="twitter"></ion-icon>{{url?.twitter}}
        </p>
      </ion-col>
    </ion-row>

    <!-- Opening times -->
    <ion-item-divider>
      <ion-label>
        Öffnungszeiten
      </ion-label>
    </ion-item-divider>

    <ion-row>
      <ion-col col-12 class="opening">
        <p>Montag: {{monday}}</p>
        <p>Dienstag: {{tuesday}}</p>
        <p>Mittwoch: {{wednesday}}</p>
        <p>Donnerstag: {{thursday}}</p>
        <p>Freitag: {{friday}}</p>
        <p>Samstag: {{saturday}}</p>
        <p>Sonntag: {{sunday}}</p>
        <!--
        <p>Montag: {{mo_start}} - {{mo_end}}</p>
        <p>Dienstag: {{tu_start}} - {{tu_end}}</p>
        <p>Mittwoch: {{we_start}} - {{we_end}}</p>
        <p>Donnerstag: {{th_start}} - {{th_end}}</p>
        <p>Freitag: {{fr_start}} - {{fr_end}}</p>
        <p>Samstag: {{sa_start}} - {{sa_end}}</p>
        <p>Sonntag: {{su_start}} - {{su_end}}</p>
        -->
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
