<!-- Header -->
<app-header-menu></app-header-menu>

<!-- Content -->
<ion-content fullscreen="true">
  <ion-grid class="content">

    <!-- Banner And Logo -->
    <ion-row>
      <ion-col col-12 class="profile-background">
        <!-- Banner -->
        <div>
          <ion-img src="{{profile?.bannerfilenameGEHTNICHT}}"></ion-img>
        </div>
        <!-- Logo -->
        <ion-avatar>
          <ion-img src="{{profile?.logofilenameGEHTNICHT}}"></ion-img>
        </ion-avatar>
      </ion-col>
    </ion-row>

    <!-- Name -->
    <ion-row>
      <ion-col class="ion-padding-top ion-text-center">
        <h1><b>{{profile?.name}}</b></h1>
      </ion-col>
    </ion-row>

    <!-- Button Profile Edit -->
    <ion-row>
      <ion-col>

        <ion-button fill="outline" shape="round" (click)="openSettings()">
          Profil bearbeiten
        </ion-button>

      </ion-col>
    </ion-row>

     <!-- Coupons -->
     <ion-item-divider>
      <ion-label>
        Eigene Coupons
      </ion-label>
    </ion-item-divider>

    <ion-row>
      <ion-col>
        <ion-list>

          <ion-item *ngFor="let item of coupons">
            <ion-label routerLink="/app/tabs/home/detail/{{item.id}}">{{item.title}}</ion-label>
            <ion-button slot="end" (click)="presentModal()">
              <ion-icon name="close"></ion-icon>
            </ion-button>
          </ion-item>

        </ion-list>

      </ion-col>
    </ion-row>

    <!-- Location -->
    <ion-item-divider>
      <ion-label>
        Addresse
      </ion-label>
    </ion-item-divider>

    <ion-row>
      <ion-col col-12 class="location">
        <p>{{profile?.street}} {{profile?.housenumber}}</p>
        <p>{{profile?.postcode}} {{profile?.place}}</p>
      </ion-col>
    </ion-row>

    <!-- Contact -->
    <ion-item-divider>
      <ion-label>
        Kontakt
      </ion-label>
    </ion-item-divider>

    <ion-row>
      <ion-col class="contact">
        <p>{{profile?.url.homepage}}</p>
        <p>{{profile?.email}}</p>
        <p>{{profile?.telephone}}</p>
      </ion-col>
    </ion-row>

    <!-- Social Media -->
    <ion-item-divider>
      <ion-label>
        Social Media
      </ion-label>
    </ion-item-divider>

    <ion-row>
      <ion-col>
        <p>
          <ion-icon name="logo-facebook" class="media" color="facebook"></ion-icon>{{profile?.url.facebook}}
        </p>
        <p>
          <ion-icon name="logo-instagram" class="media" color="instagram"></ion-icon>{{profile?.url.instagram}}
        </p>
        <p>
          <ion-icon name="logo-twitter" class="media" color="twitter"></ion-icon>{{profile?.url.twitter}}
        </p>
      </ion-col>
    </ion-row>

    <!-- Opening times -->
    <ion-item-divider>
      <ion-label>
        Öffnungszeiten
      </ion-label>
    </ion-item-divider>

    <ion-row>
      <ion-col col-12 class="opening">
        <p>Montag: {{profile?.hours.monday}}</p>
        <p>Dienstag: {{profile?.hours.tuesday}}</p>
        <p>Mittwoch: {{profile?.hours.wednesday}}</p>
        <p>Donnerstag: {{profile?.hours.thursday}}</p>
        <p>Freitag: {{profile?.hours.friday}}</p>
        <p>Samstag: {{profile?.hours.saturday}}</p>
        <p>Sonntag: {{profile?.hours.sunday}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
