/* Content
 * --------------------------------------------------------
 */
 .content {
  max-width: 650px;
  margin: auto;
  text-align: center;
}

/* Profile And Backgound Pictures
 * --------------------------------------------------------
 */
.profile-background ion-avatar {
  display: flex;
  margin: auto;
  margin-top: calc(-35px + var(--ion-safe-area-top));
}

.profile-background ion-avatar ion-img {
  border: 2px solid var(--ion-color-primary);
}

/* Social Media Icons
 * --------------------------------------------------------
 */
 .media{
  padding-right: 5px;
 }

/* ion-list
 * --------------------------------------------------------
 */
ion-list {
  max-height: 200px;
  overflow: hidden;
  overflow-y: auto;
  ::-webkit-scrollbar {
    display: none;
  }
}
