.login-logo {
  padding: 20px 0;
  min-height: 200px;
  text-align: center;
}

.login-logo img {
  max-width: 250px;
  margin-top: 15%;
}

.list {
  margin-bottom: 0;
}

.content {
  max-width: 650px;
  margin: auto;
}

/* Mylola
 * --------------------------------------------------------
 */
 .mylola{
  height: 20px;
  margin: auto;
  margin-right: 30px;
}