/* Content
 * --------------------------------------------------------
 */
 .content {
  max-width: 650px;
  margin: auto;
}

/* Logo
 * --------------------------------------------------------
 */
.login-logo {
  padding: 20px 0;
  min-height: 200px;
  text-align: center;
}

.login-logo img {
  max-width: 250px;
  margin-top: 15%;
}

/* Links
 * --------------------------------------------------------
 */
 .links{
  text-align: center;
 }