<ion-app [class.dark-theme]="!darkmode.dark">
  <ion-menu contentId="main-content">
    <ion-content>

      <!-- Header Background -->
      <div class="menu-header-bg"></div>

      <!-- Header Content -->
      <div class="header-content">
        <img src="./assets/img/mylola/mylola_slogan.png">
      </div>

      <!-- Sidemenu -->
      <div>
        <ion-list lines="none">

          <!-- Tabs -->
          <ion-list-header>
            Tabs
          </ion-list-header>

          <ion-menu-toggle autoHide="false" *ngFor="let p of appPages; let i = index">
            <ion-item [routerLink]="p.url" routerLinkActive="selected" routerDirection="root" detail="false">
              <ion-icon slot="start" [name]="p.icon + '-outline'"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>

        <!-- LOGGED IN -->
        <ion-list *ngIf="loggedIn" lines="none">

          <!-- Pages -->
          <ion-list-header>
            Mylola
          </ion-list-header>

          <!-- User Profil -->
          <ion-menu-toggle autoHide="false" *appHasRole="['ROLE_USER']">
            <ion-item routerLink="/profile-customer" routerLinkActive="selected" routerDirection="root" detail="false">
              <ion-icon slot="start" name="person-outline"></ion-icon>
              <ion-label>
                Profil
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <!-- Company Profil -->
          <ion-menu-toggle autoHide="false" *appHasRole="['ROLE_COMPANY']">
            <ion-item routerLink="/profile-company" routerLinkActive="selected" routerDirection="root" detail="false">
              <ion-icon slot="start" name="person-outline"></ion-icon>
              <ion-label>
                Profil
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <!-- Add Coupon -->
          <ion-menu-toggle autoHide="false" *appHasRole="['ROLE_COMPANY']">
            <ion-item routerLink="/add" routerLinkActive="selected" routerDirection="root" detail="false">
              <ion-icon slot="start" name="add-outline"></ion-icon>
              <ion-label>
                Coupon hinzufügen
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <!-- Darkmode -->
          <ion-item>
            <ion-icon slot="start" name="moon-outline"></ion-icon>
            <ion-label>
              Darkmode
            </ion-label>
            <ion-toggle [(ngModel)]="dark" (ionChange)="changeDarkmode()"></ion-toggle>
          </ion-item>

          <!-- Logout -->
          <ion-menu-toggle autoHide="false">
            <ion-item button (click)="presentModal(session)" detail="false">
              <ion-icon slot="start" name="log-out-outline"></ion-icon>
              <ion-label>
                Logout
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>

        <!-- NOT LOGGED IN -->
        <ion-list *ngIf="!loggedIn" lines="none">

          <!-- Pages -->
          <ion-list-header>
            Mylola
          </ion-list-header>

          <!-- Login -->
          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/login" routerLinkActive="selected" routerDirection="root" detail="false">
              <ion-icon slot="start" name="log-in-outline"></ion-icon>
              <ion-label>
                Login
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <!-- Darkmode -->
          <ion-item>
            <ion-icon slot="start" name="moon-outline"></ion-icon>
            <ion-label>
              Darkmode
            </ion-label>
            <ion-toggle [(ngModel)]="dark" (ionChange)="changeDarkmode()"></ion-toggle>
          </ion-item>

        </ion-list>
      </div>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
