@font-face {
    font-family: Segoe_UI_Bold;
    font-style: bold;
    src: url("./assets/fonts/Segoe_UI_Bold.ttf");
}

@font-face {
    font-family: Segoe_UI;
    font-style: regular;
    src: url("./assets/fonts/Segoe_UI.ttf");
}