<!-- Header -->
<ion-header translucent="true">
  <ion-toolbar>
    
    <!-- Sidemenu -->
    <ion-buttons *ngIf="!showSearchbar" slot="start">
      <ion-menu-button>
        <ion-icon style="width: 50px; height: 50px;" name="menu"></ion-icon>
      </ion-menu-button> 
    </ion-buttons>

    <!-- Mylola -->
    <ion-img class="mylola" src="..\assets\img\mylola\mylola_logo.png" *ngIf="!ios && !showSearchbar"></ion-img>  
    

    <!-- Search Function -->
    <ion-searchbar *ngIf="showSearchbar" showCancelButton="always" [(ngModel)]="queryText" (ionChange)="updateSchedule()" (ionCancel)="showSearchbar = false" placeholder="Search"></ion-searchbar>

    <!-- Search and Filter Icons -->
    <ion-buttons slot="end">
      <ion-button *ngIf="!ios && !showSearchbar" (click)="showSearchbar = true">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <!--
      <ion-button *ngIf="!showSearchbar" (click)="presentFilter()">
        <span *ngIf="ios">Filter</span>
        <span *ngIf="!ios">
          <ion-icon slot="icon-only" name="options"></ion-icon>
        </span>
      </ion-button>
      -->
    </ion-buttons> 
  </ion-toolbar>

<!-- Filter -->
<ion-toolbar #header class="bg-filter">
  <ion-grid class="filter">
    <ion-row>
      <ion-col>
        <div>
          <!-- Medium color changeable in variables.scss -->
          <ion-fab-button #first color="medium" (click)="btnActivate(first)">
            <ion-img src="../assets/img/icon/gastro_icon.png"></ion-img>
          </ion-fab-button>
          <p>Gastro & Nightlife</p>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-fab-button #second color="medium" (click)="btnActivate(second)">
            <ion-img src="../assets/img/icon/shopping_icon.png"></ion-img>
          </ion-fab-button>
          <p>Shopping</p>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-fab-button #third color="medium" (click)="btnActivate(third)">
            <ion-img src="../assets/img/icon/freizeit_icon.png"></ion-img>
          </ion-fab-button>
          <p>Freizeit & Erleben</p>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-fab-button #fourth color="medium" (click)="btnActivate(fourth)">
            <ion-img src="../assets/img/icon/dienstleistungen_icon.png"></ion-img>
          </ion-fab-button>
          <p>Dienstleistungen</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <!-- EMPTY (CSS?) -->
        </div>
      </ion-col>
      <ion-col>
        <div style="text-align: center;">
          <ion-button #fifth color="medium" (click)="btnActivate(fifth)">In der Nähe</ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div style="text-align: center;">
          <ion-button #sixth color="medium" (click)="btnActivate(sixth)">Bald endend</ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div>
           <!-- EMPTY (CSS?) -->
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>

</ion-header>

<!-- Content -->
<ion-content fullscreen="true" [scrollEvents]="true" appHideHeader [header]="header">

  <!-- Refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="refresh()">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- List -->
  <ion-list #scheduleList [hidden]="shownSessions === 0" class="list">
    <ion-item-group *ngFor="let group of groups" [hidden]="group.hide">

      <!-- Item -->
      <div *ngFor="let session of group.sessions" #slidingItem [attr.track]="session.tracks[0] | lowercase"
        [hidden]="session.hide" class="item">
        <ion-grid>

          <!-- First Row -->
          <ion-row class="first-row">

            <!-- Logo -->
            <ion-col col-4  class="logo"> 
              <ion-avatar *ngIf="session">
                <ion-img src="..\assets\img\logo\{{session.logo}}"></ion-img>
              </ion-avatar>
            </ion-col>

            <!-- Name -->
            <ion-col col-4 class="name">
              <ion-label>
                <p>{{session.name}}</p>
              </ion-label>
            </ion-col>

            <!-- Ellipsis -->
            <ion-col col-4 class="ellipsis">
              <ion-buttons>
                <ion-button (click)="presentPopover($event)">
                  <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-col>

          </ion-row>
        
          <!-- Second Row -->
          <ion-row>

            <!-- Picture and Tear-off -->
            <ion-col col-12 *ngIf="session">
              <ion-img src="..\assets\img\add\{{session.add}}" routerLink="/app/tabs/schedule/detail/{{session.id}}"></ion-img>
              <div class="tear-off">
                <ion-img src="..\assets\img\mylola\Abrissecke_rund.png" routerLink="/app/tabs/schedule/detail/{{session.id}}"></ion-img>  
                <p class="">{{session.addtext}}</p>
             </div>
            </ion-col>

          </ion-row>     
          
          <!-- Third Row -->
          <ion-row>

            <!-- Icons -->
            <ion-col col-1 class="icons">
              <ion-buttons >
                <ion-button id="button1" (click)="toggleFavorite(session)">
                  <ion-icon *ngIf="session.fav" slot="icon-only" name="bookmark-outline"></ion-icon>
                  <ion-icon *ngIf="!session.fav" slot="icon-only" name="bookmark"></ion-icon>
                </ion-button>
                <ion-button id="button2" (click)="shareSession()">
                  <ion-icon slot="icon-only" name="share-social"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-col>

            <!-- Title -->
            <ion-col col-10 class="title">
              <ion-label>
                <p>{{session.title}}</p>
              </ion-label>
            </ion-col>

            <!-- Time -->
            <ion-col col-1 class="time">
              <p>{{ session.upload | timePipeFavorites}}</p>
            </ion-col>

          </ion-row>

          <!-- Fourth Row -->
          <ion-row>

            <!-- Separation -->
            <ion-col col-12 *ngIf="darkmode.dark">
              <ion-img src="..\assets\img\mylola\Trennung_dunkel.png"></ion-img>  
            </ion-col>
            <ion-col col-12 *ngIf="!darkmode.dark">
              <ion-img src="..\assets\img\mylola\Trennung_hell.png"></ion-img>  
            </ion-col>

          </ion-row>
        </ion-grid>  
      </div>
    </ion-item-group>
  </ion-list>

  <!-- Placeholder -->
  <ion-list-header [hidden]="shownSessions > 0">
    Keine Einträge gefunden
  </ion-list-header>

  <ion-fab class="fab" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
