/* Content
 * --------------------------------------------------------
 */
.content {
  padding-top: 20px;
  max-width: 650px;
  margin: auto;
  text-align: center;
}

/* ion-select
 * --------------------------------------------------------
 */
 ion-select {
  border-radius: 5px !important;
  border: 1px solid var(--ion-color-medium-shade) !important;

  --placeholder-opacity: 1 !important;

  width: 100%;
  justify-content: center;
  max-width: 100% !important
}

/* ion-input
 * --------------------------------------------------------
 */
ion-input {
  border-radius: 5px !important;
  border: 1px solid var(--ion-color-medium-shade) !important;
}

/* ion-textarea
 * --------------------------------------------------------
 */
 ion-textarea {
  border-radius: 5px !important;
  border: 1px var(--ion-color-medium-shade) solid;
}

/* Start And End Date
 * --------------------------------------------------------
 */
 p {
  width: 90px;
}

/* ion-datetime
 * --------------------------------------------------------
 */
ion-datetime {
  border-radius: 5px !important;
  margin-left: 20px;
  border: 1px solid var(--ion-color-medium-shade) !important;
  width: 100%;
}

/* Error
 * --------------------------------------------------------
 */
 .error {
  color: red;
}

/* Button
 * --------------------------------------------------------
 */
.button {
  margin-bottom: 50px;
}