/* Content
 * --------------------------------------------------------
 */
.content {
  padding-top: 20px;
  max-width: 650px;
  margin: auto;
  text-align: center;
}

/* Buttons
 * --------------------------------------------------------
 */
.buttons {
  margin-top: 10px;
  margin-bottom: 70px;
}

/* Error
 * --------------------------------------------------------
 */
.error {
  color: red;
}

/* ion-label
 * --------------------------------------------------------
 */
.label {
  width: 110px;
}

/* ion-input
 * --------------------------------------------------------
 */
ion-input {
  border-radius: 5px !important;
  border: 1px solid var(--ion-color-medium-shade) !important;
  padding-left: 10px;
}

/* ion-datetime
 * --------------------------------------------------------
 */
ion-datetime {
  border-radius: 5px !important;
  margin-left: 20px;
  border: 1px solid var(--ion-color-medium-shade) !important;
  width: 200px;
}

/* p
 * --------------------------------------------------------
 */
p {
  width: 90px;
}

/* ion-textarea
 * --------------------------------------------------------
 */
ion-textarea {
  border-radius: 5px !important;
  border: 1px var(--ion-color-medium-shade) solid;
}

/* ion-select
 * --------------------------------------------------------
 */
ion-select {
  --placeholder-opacity: 1 !important;
}