<!-- Header -->
<app-header-back></app-header-back>

<!-- Content -->
<ion-content fullscreen="true">
  <ion-grid class="content">
    <form [formGroup]="validation_detail" (ngSubmit)="submitForm()">

      <!-- Image -->
      <ion-item-divider>
        <ion-label>
          Couponbild
        </ion-label>
      </ion-item-divider>

      <ion-row>
        <ion-col col-12 class="ion-padding-top ion-text-center">
          <div>
            <img [src]="croppedImage">
          </div>
          <ion-button fill="outline" shape="round" (click)="picture()">
            Couponbild ändern
          </ion-button>
        </ion-col>
      </ion-row>

      <!-- Category -->
      <ion-item-divider>
        <ion-label>
          Kategorie
        </ion-label>
      </ion-item-divider>

      <ion-row class="category">
        <ion-col>
          <ion-item lines="none">
            <ion-select formControlName="category" value="{{getCategory()}}" placeholder="{{getCategory()}}"
              okText="Fertig" cancelText="Abbrechen">
              <ion-select-option value="Gastro & Nightlife">Gastro & Nightlife</ion-select-option>
              <ion-select-option value="Shopping">Shopping</ion-select-option>
              <ion-select-option value="Freizeit & Erleben">Freizeit & Erleben</ion-select-option>
              <ion-select-option value="Dienstleistungen">Dienstleistungen</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Error messages -->
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.category.errors?.required">
        Kategorie wird benötigt!
      </span>

      <!-- Title -->
      <ion-item-divider>
        <ion-label>
          Titel
        </ion-label>
      </ion-item-divider>

      <ion-row>
        <ion-col class="ion-padding-top ion-text-center">
          <ion-item lines="none">
            <ion-input formControlName="titel" value="{{titel}}" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Error messages -->
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.titel.errors?.required">
        Titel wird benötigt.
      </span>

      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.titel.errors?.maxlength">
        Titel darf nicht länger als 35 Zeichen sein!
      </span>

      <!-- Catcher -->
      <ion-item-divider>
        <ion-label>
          Abrisstext
        </ion-label>
      </ion-item-divider>

      <ion-row>
        <ion-col class="ion-padding-top ion-text-center">
          <ion-item lines="none">
            <ion-input formControlName="catcher" value="{{catcher}}" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Error messages -->
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.catcher.errors?.required">
        Abrisstext wird benötigt.
      </span>

      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.catcher.errors?.maxlength">
        Abrisstext darf nicht länger als 20 Zeichen sein!
      </span>

      <!-- Code -->
      <ion-item-divider>
        <ion-label>
          Couponcode
        </ion-label>
      </ion-item-divider>

      <ion-row>
        <ion-col class="ion-padding-top ion-text-center">
          <ion-item lines="none">
            <ion-input formControlName="code" value="{{code}}"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Error messages -->
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.code.errors?.required">
        Couponcode wird benötigt!
      </span>

      <!-- Description -->
      <ion-item-divider>
        <ion-label>
          Beschreibung
        </ion-label>
      </ion-item-divider>

      <ion-row>
        <ion-col class="ion-padding-top ion-text-center">
          <ion-item lines="none">
            <ion-textarea autoGrow="true" formControlName="description" value="{{description}}" required>
            </ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Error messages -->
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.description.errors?.required">
        Beschreibung wird benötigt.
      </span>

      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.description.errors?.maxlength">
        Beschreibung darf nicht länger als 2000 Zeichen sein!
      </span>

      <!-- Timespan -->
      <ion-item-divider>
        <ion-label>
          Event
        </ion-label>
      </ion-item-divider>

      <ion-row>
        <ion-col>
          <ion-item lines="none" class="checkbox">
            <ion-label>Event</ion-label>
            <ion-checkbox formControlName="check"></ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>


      <!-- Timespan -->
      <ion-item-divider>
        <ion-label>
          Aktions- oder Veranstaltungszeitraum
        </ion-label>
      </ion-item-divider>

      <!-- Start Date -->
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <p><b>Startzeit</b></p>
            <ion-datetime [value]="startDate" formControlName="startDate" displayFormat="HH:mm, DD MMMM YYYY"
              pickerFormat="DD-MMM-YYYY HH:mm" doneText="Fertig" cancelText="Abbrechen"
              monthNames="Januar, Februar, März, April, Mai, Juni, Juli, August, September, Oktober, November, Dezember"
              monthShortNames="Jan, Feb, Mär, Apr, Mai, Jun, Jul, Aug, Sep, Okt, Nov, Dez" max="2120" required>
            </ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Error messages -->
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.startDate.errors?.required">
        Startzeit wird benötigt.
      </span>

      <!-- End Date -->
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <p><b>Endzeit</b></p>
            <ion-datetime [value]="endDate" formControlName="endDate" displayFormat="HH:mm, DD MMMM YYYY"
              pickerFormat="DD-MMM-YYYY HH:mm" doneText="Fertig" cancelText="Abbrechen"
              monthNames="Januar, Februar, März, April, Mai, Juni, Juli, August, September, Oktober, November, Dezember"
              monthShortNames="Jan, Feb, Mär, Apr, Mai, Jun, Jul, Aug, Sep, Okt, Nov, Dez" max="2120" required>
            </ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Error messages -->
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.endDate.errors?.required">
        Endzeit vor Startzeit!
      </span>

      <!-- Button -->
      <ion-row class="button">
        <ion-col>
          <ion-button fill="outline" shape="round" (click)="editCoupon()">
            Coupon speichern
          </ion-button>
        </ion-col>
      </ion-row>

    </form>
  </ion-grid>
</ion-content>