ion-grid{
  padding: 0;
}

ion-row{
  padding: 0;
}

ion-col{
  padding: 0;
}

/* Mylola
 * --------------------------------------------------------
 */
.mylola{
  height: 20px;
  margin: auto;
  //margin-left: 30px;
}

/* Item
 * --------------------------------------------------------
 */
.item{
  margin: 10px 0px 10px 0px; 
  
}

/*First Row
 * --------------------------------------------------------
 */
.first-row{
  margin-bottom: -10px;
}

/* Logo
 * --------------------------------------------------------
 */
.logo{
  margin-left: 2%;
  max-width: 50px;

}

.logo ion-img{
  border: 2px solid #DB001B;
  width: 50px;
  height: 50px;
}

 /* Name
 * --------------------------------------------------------
 */
 .name{
   margin-left: 2%;
   margin-top: 12.5px;
   overflow: hidden;
   text-overflow: ellipsis;
   margin-right: 15%;
 }

 .name p{
  font-family: Segoe_UI_Bold;
  font-size: 20px;
 }

 /* Ellipsis
 * --------------------------------------------------------
 */
.ellipsis{
  max-width: 40px;
  position: absolute;
  right: 10px;
}

/* Tear-off
 * --------------------------------------------------------
 */
.tear-off{
  position: absolute;
  opacity: 0.7;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  margin-left: 50%;
  margin-top: 17%;
}

.tear-off p{
  position: absolute;
  margin: auto;
  text-align: center;
  font-weight: bolder;
  transform: rotate(-45deg);
  color: black; 
}

@media all and (max-width: 420px){
  .tear-off p{
    top: 75%;
    left: 38%;
    font-size: 30px;
  }
}

@media all and (min-width: 421px) and (max-width: 700px){
  .tear-off p{
    top: 78%;
    left: 38%;
    font-size: 38px;
  }
}

@media all and (min-width: 701px) and (max-width: 999px){
  .tear-off p{
    top: 78%;
    left: 38%;
    font-size: 40px;
  }
}

@media all and (min-width: 1000px){
  .tear-off p{
    top: 78%;
    left: 38%;
    font-size: 40px;
  }
}

@media all and (min-width: 1800px){
  .tear-off p{
    top: 78%;
    left: 38%;
    font-size: 40px;
  }
}

/* Icons
 * --------------------------------------------------------
 */
.icons{
  max-width: 80px;
  
}

.icons #button1{
  --ripple-color: transparent;
}

.icons #button2{
  margin-left: -15px;
  --ripple-color: transparent;
}

/* Title
 * --------------------------------------------------------
 */
.title{
  margin-top: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title p {
  font-family: Segoe_UI_Bold;
  font-size: 13px;
}

/* Time
 * --------------------------------------------------------
 */
.time{
  font-size: 10px;
  margin-top: 6.5px;
  max-width: 80px;
  right: -5px;
}

.time p {
  font-family: Segoe_UI;
  font-size: 10px;
}

/* FILTER */
.bg-filter {
  --background: rgba(var(--ion-color-light-rgb), 1);
  z-index: -1;
}

.filter {
  max-width: 500px;
  margin: auto;
  padding: 10px;

  div {
    text-align: center;
  }

  ion-fab-button {
    margin: auto;
    height: 50px;
    width: 50px;
    --box-shadow: none;
  }

  p {
    font-size: 10px;
    text-align: center;
  }

  ion-button {
    --box-shadow: none;
  }

  ion-img {
    width: 25px;
    margin-left: 1px;
  }
}

.fab {
 margin-bottom: 10px;
 margin-right: 10px;
}

.list {
  max-width: 650px;
  margin: auto;
}

