/* Mylola
 * --------------------------------------------------------
 */
.mylola {
  height: 20px;
  margin: auto;
}

/* Menu
 * --------------------------------------------------------
 */
.menu {
  width: 50px;
  height: 50px;
}

.menu.ios {
  width: 30px;
  height: 30px;
  color: var(--ion-color-medium);
}

.search.ios {
  width: 20px;
  height: 20px;
  color: var(--ion-color-medium);
}

/* Item
 * --------------------------------------------------------
 */
.item {
  margin: 10px 0px 10px 0px;

}

/*First Row
 * --------------------------------------------------------
 */
.first-row {
  margin-bottom: -10px;
}

.first-row.ios {
  margin-bottom: 0px;
}

/* Logo
 * --------------------------------------------------------
 */
.logo {
  margin-left: 2%;
  max-width: 50px;

}

.logo ion-img {
  border: 2px solid var(--ion-color-primary);
  width: 50px;
  height: 50px;
}

/* Name
 * --------------------------------------------------------
 */
.name {
  margin-left: 2%;
  margin-top: 12.5px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 15%;
}

.name p {
  font-family: Segoe_UI_Bold;
  font-size: 20px;
}

/* Image
 * --------------------------------------------------------
 */
.used {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

/* Tear-off
 * --------------------------------------------------------
 */
.tear-off {
  position: absolute;
  opacity: 0.7;
  top: 0;
  left: 0;
  width: 40%;
  height: 40%;
  margin-left: 60%;
  margin-top: 27%;
}

.tear-off p {
  position: absolute;
  margin: auto;
  text-align: center;
  font-weight: bolder;
  transform: rotate(-45deg);
  color: black;
}

@media (max-width:319px) {
  .tear-off p {
    top: 75%;
    left: 38%;
    font-size: 0.875em;
  }
}

@media (min-width:320px) {
  .tear-off p {
    top: 75%;
    left: 38%;
    font-size: 1.0em;
  }
}

@media (min-width:360px) {
  .tear-off p {
    top: 75%;
    left: 38%;
    font-size: 1.3em;
  }
}

@media (min-width:420px) {
  .tear-off p {
    top: 75%;
    left: 38%;
    font-size: 1.5em;
  }
}

@media (min-width:480px) {
  .tear-off p {
    top: 75%;
    left: 38%;
    font-size: 1.8em;
  }
}

@media (min-width:650px) {
  .tear-off p {
    top: 70%;
    left: 35%;
    font-size: 38px;
  }
}

/* Icons
 * --------------------------------------------------------
 */
.icons {
  max-width: 80px;
}

.icons #button1 {
  --ripple-color: transparent;
}

.icons #button2 {
  margin-left: -15px;
  --ripple-color: transparent;
}

.icons #button1 .ios {
  --ripple-color: transparent;
  width: 25px;
  height: 25px;
  color: var(--ion-color-medium);
}

.icons #button2 .ios {
  margin-left: 10px;
  --ripple-color: transparent;
  width: 25px;
  height: 25px;
  color: var(--ion-color-medium);
}

/* Title
 * --------------------------------------------------------
 */
.title {
  margin-top: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title.ios {
  margin-top: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title p {
  font-family: Segoe_UI_Bold;
  font-size: 13px;
}

/* Time
 * --------------------------------------------------------
 */
.time {
  font-size: 10px;
  margin-top: 6.5px;
  max-width: 80px;
  right: -5px;
}

.time.ios {
  font-size: 10px;
  margin-top: -2px;
  max-width: 80px;
  right: -5px;
}

.time p {
  font-family: Segoe_UI;
  font-size: 10px;
}

/* Filter
 * --------------------------------------------------------
 */
.bg-filter {
  --background: rgba(var(--ion-color-light-rgb), 1);
  z-index: -1;
}

.filter {
  //max-width: 500px;
  margin: auto;
  padding: 10px;

  div {
    text-align: center;
  }

  ion-fab-button {
    margin: auto;
    height: 50px;
    width: 50px;
    --box-shadow: none;
  }

  p {
    font-size: 10px;
    text-align: center;
  }

  ion-button {
    --box-shadow: none;
  }

  ion-img {
    width: 25px;
    margin-left: 1px;
  }

  ion-button.ios {
    --background-activated: none;
  }

  ion-fab-button.ios {
    --background-activated: none;
  }
}

.filter2 {
  max-width: 300px;
  margin: auto;
}

.button-center {
  text-align: center;

}

/* Fab-Button
 * --------------------------------------------------------
 */
.fab {
  margin-bottom: 10px;
  margin-right: 10px;
}

/* List
 * --------------------------------------------------------
 */
.list {
  max-width: 650px;
  margin: auto;
}

/* Placeholder
 * --------------------------------------------------------
 */
.placeholder {
  margin: auto;
}