/*
 * Material Design uses the ripple for activated
 * so only style the iOS activated background
 */
.ios ion-fab-button {
  --background-activated: var(--ion-color-step-250, #d9d9d9);
}

ion-grid{
  padding: 0;
}

ion-row{
  padding: 0;
}

ion-col{
  padding: 0;
}

/* Item
 * --------------------------------------------------------
 */
.item{
  margin-top: 0px;
}

/* first-row
 * --------------------------------------------------------
 */
.first-row{
  margin-bottom: -20px;
}

/* Logo
 * --------------------------------------------------------
 */
.logo{
  margin-left: 10px;
  max-width: 40px; 
}

.logo ion-img{
  border: 2px solid #DB001B;
}

 /* Name
 * --------------------------------------------------------
 */
 .name{
   margin-left: 10px;
   margin-top: 10px;
   max-width: 270px;
  
 }

 /* Ellipsis
 * --------------------------------------------------------
 */
.ellipsis{
  max-width: 40px;
}

/* Icons
 * --------------------------------------------------------
 */
.icons #button2{
  margin-left: -20px;
}

/* Tear-off
 * --------------------------------------------------------
 */
.tear-off{
  position: absolute;
  opacity: 0.7;
  top: 0;
  left: 0;
  width: 70%;
  height: 70%;
  margin-left: 42%;
  margin-top: 20%;
}

/* Add-Text
 * --------------------------------------------------------
 */
.add-text{
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 70%;
  margin-top: 50%;
  transform: rotate(-45deg);
  color: black;
}

/* Title
 * --------------------------------------------------------
 */
.title{
  margin-top: 12.5px;
  margin-left: -10px;
}

/* Time
 * --------------------------------------------------------
 */
.time{
  font-size: smaller;
  text-align: center;
}