<!-- Header -->
<app-header-menu></app-header-menu>

<!-- Content -->
<ion-content>
  <ion-grid class="content">
    <form [formGroup]="validation_add" (ngSubmit)="submitForm()">

      <!-- Coupon Image -->
      <ion-row class="image">
        <ion-col>
          <ion-card>
            <ion-card-content>
              <img [src]="croppedImage">
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <!-- Button Select Coupon Image -->
      <ion-row class="buttons">
        <ion-col>
          <ion-button fill="outline" shape="round" (click)="selectImage()">
            Foto auswählen
          </ion-button>
        </ion-col>
      </ion-row>

      <!-- Category -->
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-select formControlName="category" placeholder="Kategorie" okText="Fertig" cancelText="Abbrechen">
              <ion-select-option value="Gastro & Nightlife">Gastro & Nightlife</ion-select-option>
              <ion-select-option value="Shopping">Shopping</ion-select-option>
              <ion-select-option value="Freizeit & Erleben">Freizeit & Erleben</ion-select-option>
              <ion-select-option value="Dienstleistungen">Dienstleistungen</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Error Messages Category -->
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.category.errors?.required">
        Kategorie wird benötigt!
      </span>

      <!-- Title -->
      <ion-row class="title">
        <ion-col>
          <ion-input formControlName="titel" placeholder="Titel"></ion-input>
        </ion-col>
      </ion-row>

      <!-- Error Messages Title -->
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.titel.errors?.required">
        Titel wird benötigt!
      </span>

      <!-- Catcher -->
      <ion-row class="catcher">
        <ion-col>
          <ion-input formControlName="catcher" placeholder="Abrisstext"></ion-input>
        </ion-col>
      </ion-row>

      <!-- Error Messages Catcher -->
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.catcher.errors?.required">
        Abrisstext wird benötigt!
      </span>

      <!-- Code -->
      <ion-row>
        <ion-col>
          <ion-input formControlName="code" placeholder="Couponcode"></ion-input>
        </ion-col>
      </ion-row>

      <!-- Error Messages Code -->
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.code.errors?.required">
        Couponcode wird benötigt!
      </span>

      <!-- Description -->
      <ion-row class="description">
        <ion-col>
          <ion-item lines="none">
            <ion-textarea autoGrow="true" formControlName="description" placeholder="Beschreibung"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Error Messages Description -->
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.description.errors?.required">
        Beschreibung wird benötigt!
      </span>

      <ion-row>
        <ion-col>
          <ion-item lines="none" class="checkbox">
            <ion-label>Event</ion-label>
            <ion-checkbox formControlName="check"></ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Timespan -->
      <ion-row>
        <ion-col class="time">
          <p>Aktions- oder Veranstaltungszeitraums festlegen</p>
        </ion-col>
      </ion-row>

      <!-- Start Date -->
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-datetime formControlName="startDate" displayFormat="HH:mm, DD MMMM YYYY"
              pickerFormat="DD-MMM-YYYY HH:mm" placeholder="Startzeit" doneText="Fertig" cancelText="Abbrechen"
              monthNames="Januar, Februar, März, April, Mai, Juni, Juli, August, September, Oktober, November, Dezember"
              monthShortNames="Jan, Feb, Mär, Apr, Mai, Jun, Jul, Aug, Sep, Okt, Nov, Dez" max="2120"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Error messages Start Date-->
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.startDate.errors?.required">
        Startzeit wird benötigt!
      </span>

      <!-- End Date -->
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-datetime formControlName="endDate" displayFormat="HH:mm, DD MMMM YYYY" pickerFormat="DD-MMM-YYYY HH:mm"
              placeholder="Endzeit" doneText="Fertig" cancelText="Abbrechen"
              monthNames="Januar, Februar, März, April, Mai, Juni, Juli, August, September, Oktober, November, Dezember"
              monthShortNames="Jan, Feb, Mär, Apr, Mai, Jun, Jul, Aug, Sep, Okt, Nov, Dez" max="2120"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>


      <!-- Error messages End Date -->
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.endDate.errors?.required">
        Endzeit vor Startzeit!
      </span>

      <!-- Button Add Coupon -->
      <ion-row class="buttons">
        <ion-col>
          <ion-button fill="outline" shape="round" type="submit" (click)="createCoupon()">
            Coupon erstellen
          </ion-button>
        </ion-col>
      </ion-row>

    </form>
  </ion-grid>
</ion-content>