/* Content
 * --------------------------------------------------------
 */
.content {
  max-width: 650px;
  margin: auto;
  overflow: visible;
}

/* Image
 * --------------------------------------------------------
 */
.picture {
  text-align: center;
}

.picture-button {
  text-align: center;
  padding-bottom: 10px;

  ion-icon {
    padding-right: 5px;
  }
}

/* Category
 * --------------------------------------------------------
 */
.category {
  border-radius: 5px !important;
  border: 1px var(--ion-color-medium-shade) solid;
  width: 93.5%;
  margin-left: 20px;
  margin-bottom: 15px;
}


/* Title
 * --------------------------------------------------------
 */
.title {
  border-radius: 5px !important;
  border: 1px var(--ion-color-medium-shade) solid;
  height: 60px;
  padding-left: 22px;
  padding-top: 4px;
  width: 93.5%;
  margin-left: 20px;
  margin-bottom: 15px;
}

/* Text
 * --------------------------------------------------------
 */
.text {
  border-radius: 5px !important;
  border: 1px var(--ion-color-medium-shade) solid;
  height: 60px;
  padding-left: 22px;
  padding-top: 4px;
  width: 93.5%;
  margin-left: 20px;
  margin-bottom: 15px;
}

/* Description
 * --------------------------------------------------------
 */
.description {
  textarea {
    border-radius: 5px !important;
    border: 1px var(--ion-color-medium-shade) solid;
    height: 200px;
    width: 120%;
    padding-left: 33px;
    padding-top: 12px;
    resize: none;
  }
}

/* ion-datetime
 * --------------------------------------------------------
 */
ion-datetime {
  border-radius: 5px !important;
  border: 1px solid var(--ion-color-medium-shade) !important;
  width: 100%;
}

/* Buttons
 * --------------------------------------------------------
 */
.buttons {
  margin-top: 10px;
  margin-bottom: 70px;
}

/* Error Messages
 * --------------------------------------------------------
 */
.validation-errors {
  margin-top: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
}

/* Time Span
 * --------------------------------------------------------
 */
.time {
  text-align: center;
}