/* Mylola
 * --------------------------------------------------------
 */
.mylola{
  height: 20px;
  margin: auto;
  margin-right: 60px;
}

/* Content
 * --------------------------------------------------------
 */
.content {
  max-width: 650px;
  margin: auto;
  overflow: visible;
}

/* Image
 * --------------------------------------------------------
 */
.picture {
  text-align: center;
}

.picture-button{
  text-align: center;
  padding-bottom: 10px;

  ion-icon{
    padding-right: 5px;
  }
}

/* Title
 * --------------------------------------------------------
 */
.title {
  border-radius: 5px !important;
  border: 1px grey solid;
  margin-bottom: 10px;
}

/* Text
 * --------------------------------------------------------
 */
.text {
  border-radius: 5px !important;
  border: 1px grey solid;
  margin-bottom: 10px;
}

/* Description
 * --------------------------------------------------------
 */
.description{
  textarea{
    border-radius: 5px !important;
    border: 1px grey solid;
    height: 200px;
    width: 100%; 
    resize: none;
  }
}

/* ion-datetime
 * --------------------------------------------------------
 */
ion-datetime  {
  border-radius: 5px !important;
  border: 1px solid grey !important;
  width: 100%;
}

/* Buttons
 * --------------------------------------------------------
 */
.buttons {
 margin-top: 10px;
 margin-bottom: 70px;
}

/* Error Messages
 * --------------------------------------------------------
 */
.error {
  color: red;
}