<!-- Header -->
<app-header-menu></app-header-menu>

<!-- Content -->
<ion-content>
  <ion-grid class="content">
    <form [formGroup]="validation_add" (ngSubmit)="submitForm()">

      <!-- Coupon Image -->
      <ion-row class="picture">
        <ion-col>
          <ion-card>
            <ion-card-content>
              <img [src]="croppedImage">
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row class="picture-button">
        <ion-col>
          <ion-button fill="outline" shape="round" (click)="selectImage()">
            Foto auswählen
          </ion-button>
        </ion-col>
      </ion-row>

      <!-- Category -->
      <ion-row class="category">
        <ion-col>
          <ion-item lines="none">
            <ion-select formControlName="category" placeholder="Kategorie" okText="Fertig" cancelText="Abbrechen">
              <ion-select-option value="Gastro & Nightlife">Gastro & Nightlife</ion-select-option>
              <ion-select-option value="Shopping">Shopping</ion-select-option>
              <ion-select-option value="Freizeit & Erleben">Freizeit & Erleben</ion-select-option>
              <ion-select-option value="Dienstleistungen">Dienstleistungen</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Error messages -->
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.category.errors?.required">
        Kategorie wird benötigt!
      </span>

      <!-- Title -->
      <ion-row class="title">
        <ion-col>
          <ion-input formControlName="titel" placeholder="Titel"></ion-input>
        </ion-col>
      </ion-row>

      <!-- Error messages -->
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.titel.errors?.required">
        Titel wird benötigt!
      </span>

      <!-- Text -->
      <ion-row class="text">
        <ion-col>
          <ion-input formControlName="text" placeholder="Abrisstext"></ion-input>
        </ion-col>
      </ion-row>

      <!-- Error messages -->
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.text.errors?.required">
        Abrisstext wird benötigt!
      </span>

      <!-- Beschreibung -->
      <ion-row class="description">
        <ion-col>
          <ion-item lines="none">
            <ion-textarea autoGrow="true" formControlName="description" placeholder="Beschreibung"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Error messages -->
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.description.errors?.required">
        Beschreibung wird benötigt!
      </span>

      <!-- Time Span -->
      <ion-row>
        <ion-col class="time">
          <p>Aktions- oder Veranstaltungszeitraums festlegen</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-datetime formControlName="starttime" displayFormat="HH:mm, DD MMMM YYYY"
              pickerFormat="DD-MMM-YYYY HH:mm" placeholder="Startzeit" doneText="Fertig" cancelText="Abbrechen"
              monthNames="Januar, Februar, März, April, Mai, Juni, Juli, August, September, Oktober, November, Dezember"
              monthShortNames="Jan, Feb, Mär, Apr, Mai, Jun, Jul, Aug, Sep, Okt, Nov, Dez" max="2120"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Error messages -->
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.starttime.errors?.required">
        Startzeit wird benötigt!
      </span>

      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-datetime formControlName="endtime" displayFormat="HH:mm, DD MMMM YYYY" pickerFormat="DD-MMM-YYYY HH:mm"
              placeholder="Endzeit" doneText="Fertig" cancelText="Abbrechen"
              monthNames="Januar, Februar, März, April, Mai, Juni, Juli, August, September, Oktober, November, Dezember"
              monthShortNames="Jan, Feb, Mär, Apr, Mai, Jun, Jul, Aug, Sep, Okt, Nov, Dez" max="2120"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>


      <!-- Error messages -->
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.endtime.errors?.required">
        Endzeit vor Startzeit!
      </span>

      <!-- Button -->
      <ion-row class="picture-button">
        <ion-col>
          <ion-button fill="outline" shape="round" type="submit" (click)="createCoupon()">
            Coupon erstellen
          </ion-button>
        </ion-col>
      </ion-row>

    </form>
  </ion-grid>
</ion-content>