<!-- Header -->
<app-header-menu></app-header-menu>

<!-- Content -->
<ion-content>
  <ion-grid class="content">

    <!-- Coupon Image -->
    <ion-row class="picture">
      <ion-col>
        <ion-card>
          <ion-card-content>
            <img [src]="croppedImage">
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="picture-button">
      <ion-col>
        <ion-button fill="outline" shape="round" (click)="selectImage()">
          Foto auswählen
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="category">
      <ion-col>
        <ion-item lines="none">
          <ion-label>Kategorie</ion-label>
          <ion-select placeholder="Kategorie" value="gastro" okText="Fertig" cancelText="Abbrechen">
            <ion-select-option value="gastro">Gastro & Nightlife</ion-select-option>
            <ion-select-option value="shopping">Shopping</ion-select-option>
            <ion-select-option value="freizeit">Freizeit & Erleben</ion-select-option>
            <ion-select-option value="dienstleistungen">Dienstleistungen</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- Title -->
    <ion-row class="title">
      <ion-col>
        <ion-input maxLength="35" [(ngModel)]="titel" placeholder="Titel" required></ion-input>
      </ion-col>
    </ion-row>

    <!-- Text -->
    <ion-row class="text">
      <ion-col>
        <ion-input maxLength="20" [(ngModel)]="text" placeholder="Abrisstext" required></ion-input>
      </ion-col>
    </ion-row>

    <!-- Beschreibung -->
    <ion-row class="description">
      <ion-col>
        <textarea maxLength="1000" [(ngModel)]="description" placeholder=" Beschreibung"></textarea>
      </ion-col>
    </ion-row>

    <!-- Time Span -->
    <ion-row>
      <ion-col class="time">
        <p>Aktions- oder Veranstaltungszeitraums festlegen</p>
      </ion-col>
    </ion-row>

    <form [formGroup]="time" (ngSubmit)="submitForm()">
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-datetime [(ngModel)]="starttime" formControlName="starttime" displayFormat="HH:mm, DD MMMM YYYY"
              pickerFormat="DD-MMM-YYYY HH:mm" placeholder="Startzeit" doneText="Fertig" cancelText="Abbrechen"
              monthNames="Januar, Februar, März, April, Mai, Juni, Juli, August, September, Oktober, November, Dezember"
              monthShortNames="Jan, Feb, Mär, Apr, Mai, Jun, Jul, Aug, Sep, Okt, Nov, Dez" min="2018" max="2030"
              required></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-datetime [(ngModel)]="endtime" formControlName="endtime" displayFormat="HH:mm, DD MMMM YYYY"
              pickerFormat="DD-MMM-YYYY HH:mm" placeholder="Endzeit" doneText="Fertig" cancelText="Abbrechen"
              monthNames="Januar, Februar, März, April, Mai, Juni, Juli, August, September, Oktober, November, Dezember"
              monthShortNames="Jan, Feb, Mär, Apr, Mai, Jun, Jul, Aug, Sep, Okt, Nov, Dez" min="2018" max="2030"
              required></ion-datetime>
          </ion-item>
          <!-- Error messages -->
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.endtime.errors?.required">
            Endzeit vor Startzeit!
          </span>
        </ion-col>
      </ion-row>
    </form>

    <!-- Button -->
    <ion-row class="picture-button">
      <ion-col>
        <ion-button fill="outline" shape="round" type="submit" (click)="createCoupon()">
          Coupon erstellen
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>