ion-grid{
    padding: 0;
}
  
ion-row{
    padding: 0;
}
  
ion-col{
    padding: 0;
}

/* Mylola
 * --------------------------------------------------------
 */
.mylola{
  height: 20px;
  margin: auto;
  margin-right: 60px;
}

.content {
  max-width: 650px;
  margin: auto;
  overflow: visible;
}

.picture {
  text-align: center;
}

.picture-button{
  text-align: center;
  padding-bottom: 10px;

  ion-icon{
    padding-right: 5px;
  }
}

.titel {
  border-radius: 5px !important;
  border: 1px grey solid;
  margin-bottom: 10px;
}

.text {
  border-radius: 5px !important;
  border: 1px grey solid;
  margin-bottom: 10px;
}

.description{
  textarea{
    border-radius: 5px !important;
    border: 1px grey solid;
    height: 200px;
    width: 100%; 
    resize: none;
  }
}

ion-datetime  {
  border-radius: 5px !important;
  border: 1px solid grey !important;
  width: 100%;
}

.buttons {
 margin-top: 10px;
 margin-bottom: 70px;
}

.error {
  color: red;
}