/* Content 
 * --------------------------------------------------------
 */
.content {
    margin: auto;
    max-width: 280px;
}

/* Button 
 * --------------------------------------------------------
 */
.button {
    margin: auto;
}

/* Text 
 * --------------------------------------------------------
 */
p{
    text-align: center;
    font-size: 20px;
}