.popover{
    overflow: hidden; 
    --background: transparent !important;
}

.title{
    text-align: center;
}

.button{
    text-align: center;
}

.modal {
    overflow: hidden; 
    margin-top: 40%;
    margin-left: 10%;
    margin-right: 10%;
    background: rgba(var(--ion-color-light-rgb), 1) !important;
    border-radius: 25px;
}
