<ion-content class="popover" style="overflow: hidden;">

    <ion-grid style="overflow: hidden;">

      <ion-row>

        <ion-col col-12 class="title">

          
          <h2>{{session?.addtext}}</h2>
          

        </ion-col>

      </ion-row>

      <ion-row>

        <ion-col col-12>
          
          <div style="text-align:center">
            <ngx-qrcode 
            [elementType]="elementType" 
            [value] = "value"
            cssClass = "aclass"
            errorCorrectionLevel = "L"
            >
            </ngx-qrcode>
            <!--<p>{{this.value}}</p>  [bc-display-value]="true"-->
          </div>
        
        
          <div style="text-align:center">
            <ngx-barcode6
            [bc-format]="'CODE128'"
            [bc-value]="value"
            [bc-display-value]="false" 
            [bc-width]="1"
            >
            </ngx-barcode6>
            
          </div>
          
        </ion-col>

      </ion-row>

      <ion-row>

        <p> ToDo: Bildslider, Login prüfen </p>

        <ion-col col-12 class="button" *ngIf="!used">
          <ion-button (click)="dismiss()">Einlösen</ion-button>
        </ion-col>

        <ion-col col-12 class="button" *ngIf="used">
          <ion-button (click)="dismiss()">Eingelöst</ion-button>
        </ion-col>

      </ion-row>

    </ion-grid>
  
</ion-content>
