<!-- Header -->
<app-header-back></app-header-back>

<!-- Content -->
<ion-content fullscreen="true">
  <ion-grid class="content">

      <!-- Personal Data -->
      <ion-item-divider>
        <ion-label>
          Persönliche Daten
        </ion-label>
      </ion-item-divider>
  
      <ion-row>
        <ion-col class="ion-padding-top ion-text-center">
          <ion-item lines="none">
            <ion-label class="label"><b>Vorame</b></ion-label>
            <ion-input maxLength="50" [(ngModel)]="name" value="{{name}}" required></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-label class="label"><b>Nachname</b></ion-label>
            <ion-input maxLength="50" [(ngModel)]="lastname" value="{{lastname}}" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
  
      <!-- Location -->
      <ion-item-divider>
        <ion-label>
          Addresse
        </ion-label>
      </ion-item-divider>
  
      <ion-row>
        <ion-col>
  
          <ion-item lines="none">
            <ion-label class="label"><b>Straße</b></ion-label>
            <ion-input maxLength="50" [(ngModel)]="street" value="{{street}}" required></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-label class="label"><b>Hausnummer</b></ion-label>
            <ion-input maxLength="50" [(ngModel)]="streetnumber" value="{{streetnumber}}" required></ion-input>
          </ion-item>
  
          <ion-item lines="none">
            <ion-label class="label"><b>PLZ</b></ion-label>
            <ion-input maxLength="50" [(ngModel)]="postcode" value="{{postcode}}" required></ion-input>
          </ion-item>
  
          <ion-item lines="none">
            <ion-label class="label"><b>Stadt</b></ion-label>
            <ion-input maxLength="50" [(ngModel)]="city" value="{{city}}" required></ion-input>
          </ion-item>
  
        </ion-col>
      </ion-row>
  
      <!-- Contact -->
      <ion-item-divider>
        <ion-label>
          Kontakt
        </ion-label>
      </ion-item-divider>
  
      <ion-row>
        <ion-col>
  
          <ion-item lines="none">
            <ion-label class="label"><b>E-Mail</b></ion-label>
            <ion-input maxLength="50" [(ngModel)]="email" value="{{email}}" required></ion-input>
          </ion-item>
  
          <ion-item lines="none">
            <ion-label class="label"><b>Telefon</b></ion-label>
            <ion-input maxLength="50" [(ngModel)]="phone" value="{{phone}}" required></ion-input>
          </ion-item>
  
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="save">
          <ion-button fill="outline" shape="round" (click)="save()">
            Speichern
          </ion-button>
        </ion-col>
      </ion-row>

  </ion-grid>
</ion-content>
