<!-- Header -->
<app-header-back></app-header-back>

<!-- Content -->
<ion-content fullscreen="true">
  <ion-grid class="content">

    <form [formGroup]="validation_profileCustomer" (ngSubmit)="submitForm" novalidate>

      <!-- Personal Data -->
      <ion-item-divider>
        <ion-label>
          Persönliche Daten
        </ion-label>
      </ion-item-divider>

      <ion-row>
        <ion-col class="ion-padding-top ion-text-center">
          <ion-item lines="none">
            <ion-label class="label"><b>Vorame</b></ion-label>
            <ion-input formControlName="firstnameProfile" value="{{firstnameProfile}}" type="text" required></ion-input>
          </ion-item>

          <!-- Error messages -->
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.firstnameProfile.errors?.required">
            firstnameProfile is required.
          </span>

          <ion-item lines="none">
            <ion-label class="label"><b>Nachname</b></ion-label>
            <ion-input formControlName="lastnameProfile" value="{{lastnameProfile}}"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Location -->
      <ion-item-divider>
        <ion-label>
          Addresse
        </ion-label>
      </ion-item-divider>

      <ion-row>
        <ion-col>

          <ion-item lines="none">
            <ion-label class="label"><b>Straße</b></ion-label>
            <ion-input formControlName="streetProfile" value="{{streetProfile}}"></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-label class="label"><b>Hausnummer</b></ion-label>
            <ion-input formControlName="housenumberProfile" value="{{housenumberProfile}}" required></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-label class="label"><b>PLZ</b></ion-label>
            <ion-input formControlName="postcodeProfile" value="{{postcodeProfile}}" required></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-label class="label"><b>Stadt</b></ion-label>
            <ion-input formControlName="placeProfile" value="{{placeProfile}}" required></ion-input>
          </ion-item>

        </ion-col>
      </ion-row>

      <!-- Contact -->
      <ion-item-divider>
        <ion-label>
          Kontakt
        </ion-label>
      </ion-item-divider>

      <ion-row>
        <ion-col>

          <ion-item lines="none">
            <ion-label class="label"><b>E-Mail</b></ion-label>
            <ion-input formControlName="emailProfile" value="{{emailProfile}}" required></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-label class="label"><b>Telefon</b></ion-label>
            <ion-input formControlName="telephoneProfile" value="{{telephoneProfile}}" required></ion-input>
          </ion-item>

        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="save">
          <ion-button fill="outline" shape="round" (click)="save()">
            Speichern
          </ion-button>
        </ion-col>
      </ion-row>

    </form>
  </ion-grid>
</ion-content>