<!-- Header -->
<app-header-back></app-header-back>

<!-- Content -->
<ion-content fullscreen="true">
  <ion-grid class="content">

    <form [formGroup]="validation_profileCustomer" (ngSubmit)="submitForm" novalidate>

      <!-- Personal Data -->
      <ion-item-divider>
        <ion-label>
          Persönliche Daten
        </ion-label>
      </ion-item-divider>

      <ion-row>
        <ion-col class="ion-padding-top ion-text-center">
          <ion-item lines="none">

            <ion-label class="label"><b>Vorame</b></ion-label>
            <ion-input formControlName="firstname" value="{{firstname}}" required></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-label class="label"><b>Nachname</b></ion-label>
            <ion-input formControlName="lastname" value="{{lastname}}" required></ion-input>
          </ion-item>

        </ion-col>
      </ion-row>

      <!-- Location -->
      <ion-item-divider>
        <ion-label>
          Addresse
        </ion-label>
      </ion-item-divider>

      <ion-row>
        <ion-col>

          <ion-item lines="none">
            <ion-label class="label"><b>Straße</b></ion-label>
            <ion-input formControlName="street" value="{{street}}" required></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-label class="label"><b>Hausnummer</b></ion-label>
            <ion-input formControlName="housenumber" value="{{housenumber}}" required>
            </ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-label class="label"><b>PLZ</b></ion-label>
            <ion-input formControlName="postcode" value="{{postcode}}" required></ion-input>
          </ion-item>

          <!-- Error messages -->
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.postcode.errors?.pattern">
            Geben Sie eine gültige Postleitzahl an.
          </span>

          <ion-item lines="none">
            <ion-label class="label"><b>Stadt</b></ion-label>
            <ion-input formControlName="place" value="{{place}}" required></ion-input>
          </ion-item>

        </ion-col>
      </ion-row>

      <!-- Contact -->
      <ion-item-divider>
        <ion-label>
          Kontakt
        </ion-label>
      </ion-item-divider>

      <ion-row>
        <ion-col>

          <ion-item lines="none">
            <ion-label class="label"><b>E-Mail</b></ion-label>
            <ion-input formControlName="email" value="{{email}}"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required></ion-input>
          </ion-item>

          <!-- Error messages required -->
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
            Geben Sie eine gültige E-Mail-Adresse an.
          </span>

          <!-- Error messages pattern -->
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
            Geben Sie eine gültige E-Mail-Adresse an.
          </span>

          <ion-item lines="none">
            <ion-label class="label"><b>Telefon</b></ion-label>
            <ion-input formControlName="telephone" value="{{telephone}}" pattern="^[0-9]+$"></ion-input>
          </ion-item>

          <!-- Error messages -->
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.telephone.errors?.pattern">
            Geben Sie eine gültige Telefonnummer an.
          </span>

        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="save">
          <ion-button fill="outline" shape="round" (click)="save()">
            Speichern
          </ion-button>
        </ion-col>
      </ion-row>

    </form>
  </ion-grid>
</ion-content>