/* Mylola
 * --------------------------------------------------------
 */
.mylola {
  height: 20px;
  margin: auto;
}

/* Back Button
 * --------------------------------------------------------
 */
.button {
  position: absolute;
}
